/* noJS.css begin */
.gamma-loading {
	background-image: none;
}
/* noJS.css end */

/* old.css begin */
/*reset.css*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
html { height: 101%; } 
body { font-size: 62.5%; line-height: 1; font-family:'Forum', Helvetica, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

input { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

@import url(http://fonts.googleapis.com/css?family=Forum&subset=cyrillic,latin);

/*main*/
body {
	width: 100%;
}

header {
	width: 100%;
	height: 30px;
	background-color: #5074c0;
	
}

header p {
	font-size: 2.9em;
	font-weight: bold;
}

.container {
	padding-left: 40px;
	background-color: #CCCC99;
	margin: 0 auto;
}

/* old.css end */

/* queryLoader.css begin */
.QOverlay {
	background-color: #000000;
	z-index: 9999;
}

.QLoader {
	background-color: #CCCCCC;
	height: 1px;
}
/* queryLoader.css end */

/* script.css begin */
@import "http://fonts.googleapis.com/css?family=Lato:300,400,700";

@font-face {
	font-family:'entypo-selected';
	src:url("../font/entypo-selected.eot");
	src:url("../font/entypo-selected.eot?#iefix") format("embedded-opentype"),url("../font/entypo-selected.woff") format("woff"),url("../font/entypo-selected.ttf") format("truetype"),url("../font/entypo-selected.svg#entypo-selected") format("svg");
	font-weight:400;
	font-style:normal;
}

html {
	height:100%;
}

* {
	padding:0;
	margin:0;
}

body {
	font-family:'Lato', Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size:15px;
	color:#333;
	-webkit-font-smoothing:antialiased;
	overflow-y:scroll;
	overflow-x:hidden;
	background:rgba(0,0,0,0.5) url("../images/background.png") repeat top left;
}

a {
	color:#555;
	text-decoration:none;
}

.container {
	width:100%;
	max-width:1550px;
	padding-left:20px;
}

.inwtf {
	padding:60px;
	margin-bottom:30px;
	background-color:#EEE;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	margin-right:auto;
	margin-left:auto;
	left:10px;
	top:50px;
	width:600px;
	position:relative;
}

.main {
	padding:0 20px 100px;
	max-width:1580px;
	margin:0 auto;
}

header {
	width:100%;
	height:100%;
	max-height:40px;
	top:0;
	left:0;
	border:1px none #000;
	position:fixed;
	z-index:9999;
	background:#4F97BD url("../images/header.jpg") repeat top left;
}

header a {
	text-decoration:none;
}

header .menu {
	position:relative;
	z-index:9999;
}

header .menu ul li a,header .menu ul li a:visited {
	text-decoration:none;
	width:100%;
	max-width:150px;
	text-align:center;
	position:relative;
	font-size:30px;
}

header .menu ul {
	padding:0;
	margin:0;
	list-style:none;
}

header .menu ul li {
	clear:both;
	position:relative;
}

header .menu ul li ul {
	display:none;
}

header .menu ul li:hover a {
	color:#fff;
}

header .menu ul li:hover ul {
	display:block;
	top:21px;
	left:0;
	clear:both;
}

header .menu ul li:hover ul li a {
	display:block;
	background:#ddd;
	color:#000;
}

header .menu ul li:hover ul li a:hover {
	background:#6fc url("../images/header.jpg") repeat top left;
	color:#000;
	height:35px;
}

header .social {
	position:fixed;
	display:inline-block;
	height:35px!important;
	clear:right;
	padding-top:5px;
	right:0;
	top:0;
}

header .social span {
	display:inline-block;
	clear:both;
	position:relative;
	top:2px;
}

.affix {
	height:40px;
	width:100%;
	top:0;
	border:1px none #000;
	position:fixed;
	z-index:9999;
	background:#4F97BD url("../images/header.jpg") repeat top left;
	opacity:.6;
}

.affix:hover {
	opacity:1;
}

header h1 {
	font-size:34px;
	line-height:38px;
	margin:0;
	font-weight:700;
	color:#333;
	opacity:1!important;
	float:left;
	padding-left:20px;
}

header h1 .brand {
	position:fixed!important;
	font-size:34px;
	line-height:38px;
	margin:0;
	font-weight:700;
	color:#333;
	opacity:1!important;
	float:left;
	padding-left:20px;
}

.main h2 {
	font-size:38px;
	font-weight:300;
	text-shadow:0 1px 0 rgba(255,255,255,0.9);
	padding:10px 0 0;
	margin-bottom:20px;
	border-top:1px solid #f7f7f7;
}

.container .instagram {
	margin:0 auto;
	padding-top:50px;
	min-height:600px;
}

.instagram img:not(.likeson) {
	display:inline-block;
	width:100%;
	max-width:131px;
	margin-bottom:20px;
	-webkit-transition:-webkit-transform .15s linear;
	-webkit-box-shadow:0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow:0 3px 6px rgba(0,0,0,.25);
}

.instagram-placeholder {
	-webkit-transition:-webkit-transform .15s linear;
	-webkit-box-shadow:0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow:0 3px 6px rgba(0,0,0,.25);
}

.instagram .instagram-placeholder:hover {
	-webkit-transform:scale(2.25);
	-moz-transform:scale(2.25);
	position:relative;
	z-index:10000;
	padding:0;
}

.instagram-placeholder {
	display:inline-block;
	padding:10px 9px 15px 0;
	width:131px;
	height:131px;
}

.likes_count {
	display:block;
	position:relative;
	top:-23px;
	text-align:center;
	background:#4F97BD url("../images/header.jpg") repeat top left;
	height:20px;
}

.likes {
	display:inline-block;
	position:relative;
	top:-8px;
	font-weight:700;
}

.likeson {
	display:inline-block;
	width:25px;
	position:relative;
	top:-2px;
}

.loadmore {
	padding:10px;
	width:100%;
	background:#4F97BD url("../images/header.jpg") repeat top left;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:3px;
	font-weight:700;
	text-align:center;
	cursor:pointer;
	position:relative;
	top:10px;
	bottom:0;
}

.loadmore:hover {
	background:#333;
}

@media (max-width:480) {
	header {
		max-height:70px;
	}
	
	header .social {
		position:relative;
		display:block;
		max-width:355px;
		margin:0 auto;
	}
	
	.affix {
		max-height:70px;
	}
}
/* script.css end */
